<header><h1>Create New User</h1><header>
	
	

<%= form_for(@user) do |form| %>
<div>
	<%= form.text_field :name, placeholder: "Name" %>
	<%= form.password_field :password, placeholder: "Password" %>
	<%= form.submit "Sign up" %>
	</div>
<%end%>

<% link_to "Sign in", sign_in_path %>